@import url("https://fonts.googleapis.com/css?family=Bad+Script");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Bad Script",
        -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}

body,
#siteWrapper {
    height: 100%;
    overflow-x: hidden;
}

/* beautiful background with darkening at the corners: */
#siteWrapper {
    width: 100vw;
    min-height: 100vh;
    background-color: #fa3e38;
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);
    box-shadow: inset 0px 0px 150px 120px rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}



#greeting span.space {
    width: 0.4em;
}

#greeting span.text:nth-child(1) {
    animation-delay: 0s
}

#greeting span.text:nth-child(2) {
    animation-delay: 0.1s
}

#greeting span.text:nth-child(3) {
    animation-delay: 0.2s
}

#greeting span.text:nth-child(4) {
    animation-delay: 0.3s
}

#greeting span.text:nth-child(5) {
    animation-delay: 0.4s
}

#greeting span.text:nth-child(6) {
    animation-delay: 0.5s
}

#greeting span.text:nth-child(7) {
    animation-delay: 0.6s
}

#greeting span.text:nth-child(8) {
    animation-delay: 0.7s
}

#greeting span.text:nth-child(9) {
    animation-delay: 0.8s
}

#greeting span.text:nth-child(10) {
    animation-delay: 0.9s
}

#greeting span.text:nth-child(11) {
    animation-delay: 1s
}

#greeting span.text:nth-child(12) {
    animation-delay: 1.1s
}

#greeting span.text:nth-child(13) {
    animation-delay: 1.2s
}

#greeting span.text:nth-child(14) {
    animation-delay: 1.3s
}

#greeting span.text:nth-child(15) {
    animation-delay: 1.4s
}

#greeting span.text:nth-child(16) {
    animation-delay: 1.5s
}

#greeting span.text:nth-child(17) {
    animation-delay: 1.6s
}

#greeting span.text:nth-child(18) {
    animation-delay: 1.7s
}

#greeting span.text:nth-child(19) {
    animation-delay: 1.8s
}

#greeting span.text:nth-child(20) {
    animation-delay: 1.9s
}

#greeting {
    font-size: 80px;
    font-weight: bolder;
    color: #7b7e4eb4;
    word-wrap: normal;
}

#greeting span {
    display: table-cell;
    animation: blink 1.5s ease-in infinite;
}

#from {
    font-size: 30px;
}

#from,
a {
    color: white;
}

@media only screen and (max-width: 700px) {
    #greeting {
        font-size: 55px
    }
}

@media only screen and (max-width: 700px) {
    #greeting {
        font-size: 45px
    }

    #treeContainer {
        transform-origin: center;
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 315px) {
    #greeting {
        font-size: 35px
    }

    #from {
        font-size: 20px
    }
}

@media only screen and (max-height: 650px) {
    #treeContainer {
        margin-top: 20px;
    }
}

@keyframes blink {

    0%,
    100% {
        color: #ffd700;
        filter: blur(2px);
        text-shadow: 0 0 10px #f9fc3e,
            0 0 20px #d0ff00,
            0 0 40px #f9fc3e,
            0 0 80px #f9fc3e,
            0 0 1200px #f9fc3e,
            0 0 200px #f9fc3e,
            0 0 300px #f9fc3e,
            0 0 400px #f9fc3e;
    }

    5%,
    95% {
        color: rgb(247, 214, 30);
        filter: blur(1px);
        text-shadow: none;
    }
}